.list {
  margin: 5%;
}

.item {
  --border-color: black;
}

.bullet {
  display: inline-block;
  width: 2%;
  height: 20%;
  position: absolute;
  background-color: darkblue;
}

.text {
  padding-left: 5%;
  /* padding-right: 35%; */
}

.textStatus {
  /* margin-left: auto;
  text-align: center;
  font-size: x-small;
  color: white !important;
  border: 1px solid black;
  border-radius: 5px;
  background-color: darkblue;
  padding: 2% 5% 2% 5%; */
  pointer-events: none;
}

.row {
  display: grid;
}
