.text1 {
  font-size: smaller;
}

.text2 {
  font-size: xx-small;
}

.text3 {
  font-size: x-small;
}

.textCol {
  display: grid;
  align-content: flex-start;
  margin-top: 2%;
}

.firstRow {
  padding: 0% 2% 0% 2%;
}
.secondRow {
  border-bottom: 1px solid black;
  margin: 0% 2% 0% 2%;
  width: 90%;
}
.thirdRow {
  padding: 0% 2% 0% 2%;
}

.cardStyle {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5% 5% 5% 5%;
}

.cardContentStyle {
  padding: 0%;
}
